
nav {
    background-color: rgb(128, 128, 128);
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    height: 50%;

    
  }
  nav span{
    color: black
  }
  nav > h1 {
    position: relative;
    left: 60;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    color: black;
  }
 nav > h3{
 color: black
 }
  
  .nav-list {
    display: flex;
    justify-content: space-around;
    width: 70%;
    list-style: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 18px;
  }

  /******** Items List ******/
  
  .items-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  
  /****** Item  box *********/
  .item-box {
    background-color: rgba(133, 131, 131, 0.459);
    margin:35px;
    margin-top: 80px;
    padding: 20px;
    width: 200px;
    height: 500px;
    border-radius: 8px;
    border: 2px solid black;
  }
  .item-box:hover {
  transform: scale(1.08);
  transition: all 1.5s;
  }
  .name{
    font-size: 25px;
    text-align: center;
  }
  .item-quantity {
    color: #fff;
    background-color: #f0ad4e;
    display:flex;
    justify-content: center;
    border-radius: 20px;
    max-width: 30px;
    position: relative;
    left: 40px;
  }
  
  .item-price {
    color: gray;
    font-size: 25px;
  }
  .about{
    margin-bottom: 15px;
  }
  .item-add-button {
    background-color: #5adb5a;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    height: 20px;
    margin-top: 10px;
  }
  
  .item-minus-button {
    background-color: #d9534f;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
  }
  
  .item-plus-button {
    background-color: #337ab7;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
  }
  .item-detail{
    margin-left: 45%;
  }
  
  /****** Shopping Cart ********/
  
  .cart-container {
    display: flex;
    justify-content: center;
    margin: 30px;
    color: black;
    font-size: 35px;
  }
  
   .cart-count {
    border-radius: 20px;
    padding: 8px;
    color: black;
   }
  /****** Home ********/
  